#myFooter {
	background-color: #01030e;
	color:rgb(17, 202, 116);
	position:absolute;
	bottom:0;
	width:100%;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color:rgb(17, 202, 116);
	font-family: 'Segoe UI'
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1;

}
#myFooter h5{
	font-size: 18px;
    color:rgb(17, 202, 116);  
    margin-top: 5px;
}
#myFooter  h5:hover{
	color: deeppink;
}
#myFooter .myCols{
	text-align: center;
}
@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


html{
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}
#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}