<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Aniket B</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Project">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Test">Test</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-3" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
<body>

  <footer id="myFooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 myCols">
            <a class="nav-link" routerLink="/Home"> <h5> Aniket.B </h5>
              <span class="sr-only">(current)</span>
            </a>        
        </div>
        <div class="col-sm-3 myCols">
            <a class="nav-link" routerLink="/Project"><h5>Projects</h5></a>          
        </div>
        <div class="col-sm-3 myCols">
            <a class="nav-link" routerLink="/Contact"><h5>Contact</h5></a>
        </div>
        <div class="col-sm-3 myCols">
            <a class="nav-link" routerLink="/Test"><h5>Test</h5></a>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      © 2018 Copyright Aniket. B (ANGULAR-5)
    </div>
  </footer>

</body>



<!-- Sticky Social Media Icon -->


<div class="sticky-container">
  <ul class="sticky">
    <li>
      <img src='../assets/Social Media/facebook-128.png' width="32" height="32">
      <p>
        <a href="https://www.facebook.com" target="_blank">Like Us on
          <br>Facebook</a>
      </p>

    </li>
    <li>
      <img src="../assets/Social Media/twitter.png" width="32" height="32">
      <p>
        <a href="https://twitter.com" target="_blank">Follow Us on
          <br>Twitter</a>
      </p>
    </li>
    <li>
      <img src="../assets/Social Media/google-plus.png" width="32" height="32">
      <p>
        <a href="https://plus.google.com" target="_blank">Follow Us on
          <br>Google+</a>
      </p>
    </li>
    <li>
      <img src="../assets/Social Media/linkedin.png" width="32" height="32">
      <p>
        <a href="https://www.linkedin.com/company" target="_blank">Follow Us on
          <br>LinkedIn</a>
      </p>
    </li>
    <li>
      <img src="../assets/Social Media/youtube.png" width="32" height="32">
      <p>
        <a href="http://www.youtube.com" target="_blank">Subscribe on
          <br>YouYube</a>
      </p>
    </li>
    <li>
      <img src="../assets/Social Media/Pinterest.svg" width="32" height="32">
      <p>
        <a href="https://www.pinterest.com" target="_blank">Follow Us on
          <br>Pinterest</a>
      </p>
    </li>
  </ul>
</div>

